/* UNICA ALTERAÇÃO CSS PAGINA DE LOGIN SENHA */
.voltar {
    background-color: rgba(255, 0, 0, 0);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
      

.img-seta{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}



.fundo{
    height: 400px;
    width: 430px;
    float: right;
    background-color: rgba(31, 46, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    

}

.folha-fundo{
background-image: url(../img/folha.png);
margin-top: 185px;
width: 430px;
float: right;
margin-right: 60px;
border-radius: 30px;

}


.caixa-verde{
    width: 100%;
    height: 100%;
    background-color: rgba(56, 94, 0, 0.7); /* Cor verde sem opacidade */
    border-radius: 30px;
   
}


.logosite{
    width: 280px; 
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    
}


h1{
    color: rgba(255, 255, 255, 0.884);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -15px;
    margin-bottom:20px ;

}


a{
    color: rgba(255, 0, 0, 0.884);
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.proximo {
    width: 100%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proximo a {
    text-decoration: none;
    color: #ffffff;
    width: 70%;
    height: 50px;
    background-color: #1E4000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Inria Sans', sans-serif;
}



