
.mapa{
    display: flex;
    border-radius: 20px;
    width:100%;  
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.titulo h1 {
    color: #3F6505;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.mapa_div{
    display: flex;
    border-radius: 5px;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid #3F6505;
    box-shadow: 0px 2px 4px rgba(0.4, 0.4, 0.4, 2);
}

iframe {
    border-radius: 5px;
}

.outras-lojas {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.outras-lojas a {
    cursor: pointer;
    color: #3F6505;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.voltar {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #3F6505;
    border-radius: 5px;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 1px solid #3F6505;
    padding-top: 5px;
}

.voltar img {
    width: 50%;
}

.voltar h3 {
    color: #709933;
    font-size: 12px;
}

.line {
    margin-top: 15px;
    background-color: #3F6505;
    height: 4px;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.sobre-cidade {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding-top: 15px;
}

.sobre-cidade h2 {
    color: #3F6505;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;

}

.local-cidade {
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;    

}

.image-text-cidade {
    width: 60%;
    float: right;
}

.image-text-cidade img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid #3F6505;
}

.image-text-cidade p {
    padding: 10px;
    color: #3F6505;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}



/* cidades com foto a esquerda */



.sobre-cidade-d {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding-top: 15px;
}

.sobre-cidade-d h2 {
    color: #3F6505;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-left: auto;
}

.local-cidade-d {
    display: flex;
    width: 40%;
}

.image-text-cidade-d {
    width: 60%;
    float: right;
}

.image-text-cidade-d img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid #3F6505;
}

.image-text-cidade-d p {
    padding: 10px;
    color: #3F6505;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}


@media (max-width: 900px) {
    .titulo h1 {
      font-size: 18px;
      transition: all 0.5s ease-in-out;
    }
    .outras-lojas a {
      font-size: 22px;
      transition: all 0.5s ease-in-out;
    }
    .sobre-cidade h2 {
        font-size: 13px;
        transition: all 0.5s ease-in-out;
    } 
    .sobre-cidade-d h2 {
        font-size: 13px;
        transition: all 0.5s ease-in-out;
    }
  
}

@media (max-width: 730px) {
    .titulo h1 {
        font-size: 14px;
        transition: all 0.5s ease-in-out;
    }
    .outras-lojas a {
        font-size: 18px;
        transition: all 0.5s ease-in-out;
     }
    .sobre-cidade h2 {
        font-size: 11px;
        transition: all 0.5s ease-in-out;
    } 
    .sobre-cidade-d h2 {
        font-size: 11px;
        transition: all 0.5s ease-in-out;
    }
    .image-text-cidade p {
        font-size: 13px;
        transition: all 0.5s ease-in-out;
    }
    .image-text-cidade-d p {
        font-size: 13px;
        transition: all 0.5s ease-in-out;
    }
  

}

@media (max-width: 575px) {
    .titulo h1 {
        font-size: 11px;
        transition: all 0.5s ease-in-out;
      }
      .outras-lojas a {
        font-size: 14px;
        transition: all 0.5s ease-in-out;
      } 
      .image-text-cidade p {
        font-size: 11px;
        transition: all 0.5s ease-in-out;
    }
    .image-text-cidade-d p {
        font-size: 11px;
        transition: all 0.5s ease-in-out;
    }
}