* {
    margin: 0;
    padding: 0;

}

.container-grid-produto {
    display: flex;
    width: 40%;
    margin-left: 10%;
    margin-top: 50px;
    float: left;
    justify-content: space-between;
    margin-right: 10%;
    margin-bottom: 50px;
}

.imagem-principal {
  width: 80%;
  cursor: pointer;
}

.imagem-principal img {
  width: 100%;

}

.imagens-secundarias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.imagens-secundarias img {
    width: 77%;
}

.imagem-um,
.imagem-dois,
.imagem-tres,
.imagem-quatro,
.imagem-cinco {
  height: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}


.textos-dos-produtos {
    width: 40%;
    float: right;
    margin-top: 55px;
    height: auto;
    margin-bottom: 80px;
}

  .titulo-produto h1 {
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  
  .sub-titulo {
    display: flex;
  }
  
  .sub-titulo h2 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
  }
  
  .sub-titulo h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    text-decoration: line-through;
  }
  
  .sub-titulo h4 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .preco-tenis {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
  }
  
  .tamanho-tenis {
    display: flex;
    width: 230px;
    justify-content: space-between;
  }

  .escolha-tamanho {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .escolha-tamanho h5 {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
  }

  .tam37,
  .tam38,
  .tam39,
  .tam40,
  .tam41,
  .tam42 {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    padding: 8px;
    border-radius: 20px;
    border: 1px #7e7e7e solid;
  }

  .tam37:hover,
  .tam38:hover,
  .tam39:hover,
  .tam40:hover,
  .tam41:hover,
  .tam42:hover {
    background-color: rgb(133, 133, 133);
    transition: all 0.3s ease-in-out;

  }

  .tamanho-tenis h5 {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
  }

  .titulo-cores {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .titulo-cores h5 {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
  }

  .cores-dos-produtos {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 20px;
  }


  
  
  .cinza {
    padding: 15px;
    width: 10%;
    background-color: gray;
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .cinza:hover {
    background-color: rgb(99, 99, 99);
    transition: all 0.3s ease-in-out;
  }
  
  .preto {
    padding: 15px;
    width: 10%;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .preto:hover {
    background-color: black;
    transition: all 0.3s ease-in-out;
  }
  
  .marrom {
    padding: 15px;
    width: 10%;
    background-color: rgb(150, 75, 0);
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .marrom:hover {
    background-color: rgb(114, 57, 0);
    transition: all 0.3s ease-in-out;
  }
  
  .amarelo {
    padding: 15px;
    width: 10%;
    background-color: rgb(255, 255, 39);
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .amarelo:hover {
    background-color: rgb(224, 228, 0);
    transition: all 0.3s ease-in-out;
  }
  
  .verde {
    padding: 15px;
    width: 10%;
    background-color: rgb(0, 185, 0);
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .verde:hover {
    background-color: rgb(0, 107, 0);
    transition: all 0.3s ease-in-out;
  }
  
  .azul-claro {
    padding: 15px;
    width: 10%;
    background-color: rgb(69, 171, 255);
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .azul-claro:hover {
    background-color: rgb(50, 140, 214);
    transition: all 0.3s ease-in-out;
  }
  
  .azul {
    padding: 15px;
    width: 10%;
    background-color: rgb(0, 89, 255);
    border-radius: 20px;
    border: 1px solid #808080;
    cursor: pointer;
  }
  
  .azul:hover {
    background-color: rgb(0, 60, 170);
    transition: all 0.3s ease-in-out;
  }



  .calcular-frete-caixaa {
    margin-top: 20px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    border: 1px #c0c0c0 solid;
    margin-bottom: 4  0px;
  }
  
  .inserir-cep {
    width: 70%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  
  .inserir-cep input {
    width: 85%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #575757;
    font-size: 9px;
  }
  
  .inserir-cep input::placeholder {
    color: #c0c0c0;
    /* Altera a cor do placeholder */
    font-size: 9px;
  
  }
  
  .calcular-frete {
    width: 30%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f6505;
  }
  
  .calcular-frete:hover {
    background-color: #3f6606;
    transition: all 0.3s ease-in-out;
  }
  
  .calcular-frete a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 8px;
    text-decoration: none;
  }

  

  .comprar-produto {
    width: 30%;
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .comprar-produto h1 {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: #fff;
  }
  
  .comprar-verde {
    cursor: pointer;
    width: 70%;
    display: flex;
    text-align: center;
    background-color: #3F6505;
    padding: 15px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .carrinho-produto {
    width: 30%;
    background-color: #7ACA00;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
  }
  
  .carrinho-produto img {
    width: 40%;
  }

  .descricao-dos-produtos {
    width: 100%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
  }

  .descricao-dos-produtos h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #3f6505;
    font-size: 18px;
  }

  .descricao-dos-produtos p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
    font-size: 14px;
    line-height: 1.5;
  }

  .linha {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 3px;
    border-radius: 30px;
    background-color: #477600;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .mais-produtos {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .mais-produtos h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #3f6505;
    font-size: 18px;
  }

  .carrosel-responsivo {
    visibility: hidden;
    display: none;
  }
  .carrosel-produtos {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .produto-carousel1,
  .produto-carousel2,
  .produto-carousel3,
  .produto-carousel4,
  .produto-carousel5,
  .produto-carousel6 {
    width: 15%;
  }
  .produto-carousel1 img,
  .produto-carousel2 img,
  .produto-carousel3 img,
  .produto-carousel4 img,
  .produto-carousel5 img,
  .produto-carousel6 img {
    width: 100%;
  }

  .produto-carousel1 img:hover,
  .produto-carousel2 img:hover,
  .produto-carousel3 img:hover,
  .produto-carousel4 img:hover,
  .produto-carousel5 img:hover,
  .produto-carousel6 img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }

  .avaliacoes {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .avaliacoes h1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #3f6505;
    font-size: 18px;
  }


  .title-avaliacoes {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .title-avaliacoes p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
    line-height: 1.5;
    font-size: 15px;
  }

  .text-avaliacoes {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  .text-avaliacoes h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: black;
    font-size: 25px;
  }
  .nota-da-empresa {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .nota-da-empresa h5 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: black;
    font-size: 10px;
  }
  .estrela-avaliacoes {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .perguntas {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .perguntas h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #3f6505;
    font-size: 16px;
  }
  .pergunta {
    margin-bottom: 10px;
  }

  .pergunta h4 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #3f6505;
    font-size: 15px;
  }

  .textarea textarea{
    width: 100%;
  }
  .textarea textarea {
    border: 2px solid #3F6505; 
  }
  textarea:hover {
    border-color: #3F6505;
  }

  .enviar-pergunta button {
    float: right;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #3f6505;
    border: 2px #3F6505 solid;
    padding: 10px;
    background-color: none;
    cursor: pointer;
  }

  .enviar-pergunta button:hover {
    color: #fff;
    background-color: #3F6505;
    transition: all 0.3s ease-in-out;
  }


  @media (max-width: 1000px) {
    .container-grid-produto {
      width: 92%;
      margin-left: 3%;
      margin-right: 5%;
      height: auto;
      display: block;
      margin-bottom: 0px;
    }
    
    .imagem-principal {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      justify-content: center;
    }
    
    .imagem-principal img {
      width: 91%;
    }

    .imagens-secundarias {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      flex-direction: row;

    }

    
    .imagem-um,
    .imagem-dois,
    .imagem-tres,
    .imagem-quatro,
    .imagem-cinco {
      width: 20%;
  }

    .textos-dos-produtos {
      float: left;
      margin-left: 10%;
    }

    .titulo-produto h1 {
      font-size: 30px;
      transition: all 0.5s ease-in-out;
    }

    .sub-titulo h2 {
      transition: all 0.5s ease-in-out;
      font-size: 10px;
    }

    .sub-titulo h3 {
      transition: all 0.5s ease-in-out;
      font-size: 10px;
    }

    .sub-titulo h4 {
      transition: all 0.5s ease-in-out;
      font-size: 10px;
    }

    .preco-tenis {
      font-size: 30px;
      transition: all 0.5s ease-in-out;
    }

    .escolha-tamanho h5 {
      font-size: 8px;
      transition: all 0.5s ease-in-out;
    }

    .tamanho-tenis h5 {
      font-size: 10px;
      transition: all 0.5s ease-in-out;
    }

    .titulo-cores h5 {
      font-size: 8px;
      transition: all 0.5s ease-in-out;
    }

    .descricao-dos-produtos h1 {
      font-size: 15px;
      transition: all 0.5s ease-in-out;
    }

    .descricao-dos-produtos p {
      font-size: 12px;
      transition: all 0.5s ease-in-out;
    }

    .avaliacoes h1 {
      font-size: 15px;
      transition: all 0.5s ease-in-out;
    }

    .title-avaliacoes p {
      font-size: 12px;
      transition: all 0.5s ease-in-out;
    }

    .pergunta h4 {
      font-size: 12px;
      transition: all 0.5s ease-in-out;
    }

  }