@media (max-width: 1800px) {
  .folha-fundo-login {
    background-image: url(../img/folha.png);
    height: 100%;
    width: 700px;
    float: right;
    transition: all 0.5 ease-in-out;
  }
  .fundo-verde {
    height: 100vh;
    width: 700px;
    float: right;
    background-color: rgba(31, 46, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
 


}
@media (max-width: 1265px) {
    .banner {
        height: 500px;
    }

    .diferencial .btn button {
        width: 50%;
        font-size: 18px;
    }

    .container-produtos {
        grid-template-columns: repeat(3,1fr); /* define 4 colunas com tamanho igual */
        grid-template-rows: repeat(4, 1fr); /* define 2 linhas com tamanho igual */
        margin: 2% 2%;
        gap: 3px;
    }
    .tenis-grid {
        width: 200px;
        height: 200px;
        
    }
    .categoria-icons {
        width:50%;
    }
    .button-categorias {
        width: 50%;
    }
    .lancamento-text p {
        font-size: 2px;
    }
}


@media  (max-width: 1210px) {
    .lancamento-container {
        margin-top: 50px;
        display: inline-block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
  
    .lancamento-produto { 
        visibility: hidden;
        display: none;
    }
    .lancamento-produto-2 {
        visibility: visible;
        display: flex;
        width: 100%;
    }
    .lancamento-produto-2 img{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 4%;
      width: 80%;
    }
    
    .lancamento-text {
      float: left;
      width: 100%;
    }
    
    .lacamento-text h1 {
    float: left;
    margin: 0;
    margin-left: 10%;
    margin-top: 2.5%;
    font-size: 20px;
    padding-right: 10px;
  }
  
    .lacamento-text p {
    font-size: 12px;
    margin: 0;
    font-weight: 300;
    margin-left: 4%;
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .lacamento-text button{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2.5%;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: all ease 0.3s;
  }

  
}

@media (max-width: 1100px) {
    .content {
        top: 15%;
    }
    .content h2 {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .content input[type="email"] {
    padding: 15px;
    width: 60%;
    margin-bottom: 10px;
    font-size: 12px;
    
    }
    .content button {
    padding: 15px;
    width: 30%;
    font-size: 12px;
  }

  .menu-dois {
    width: 50%;
    transition: all 0.3s ease-in-out;
  }

  .menu-dois a {
    font-size: 12px;
    transition: all 0.3s ease-in-out;
  }
  .sports-menu, 
  .casuais-menu,
  .snickers-menu,
  .sobre-nos-menu,
  .lojas-fisicas-menu {

    padding: 15px;
    transition: all 0.3s ease-in-out;
  }

    
}

@media (max-width: 910px) {
    .container-produtos {
        grid-template-columns: repeat(2,1fr); /* define 4 colunas com tamanho igual */
        grid-template-rows: repeat(4, 1fr); /* define 2 linhas com tamanho igual */
        margin: 2% 2%;
        gap: 3px;
       
    }
    .content {  
        top: 14%;
        
    }
    .menu-dois {
      width: 50%;
      transition: all 0.3s ease-in-out;
    }
  
    .menu-dois a {
      font-size: 11px;
      transition: all 0.3s ease-in-out;
    }
    .sports-menu, 
    .casuais-menu,
    .snickers-menu,
    .sobre-nos-menu,
    .lojas-fisicas-menu {
  
      padding: 13px;
      transition: all 0.3s ease-in-out;
    }
}


@media (max-width: 880px) {
    .rodape h5 {
        font-size: 8px;
        transition: all 0.5s ease-in-out;
    }
    .content {
        top: 13%;
    }
    .content h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .content input[type="email"] {
        padding: 10px;
        width: 60%;
        margin-bottom: 10px;
        font-size: 10px
       
    }
    .content button {
        padding: 10px ;
        width: 30%;
        font-size: 10px
    }
    .contatos a {
        font-size: 8.5px;
    }
    .contatos a img {
      margin-right: 4px; /* Adiciona um espaço entre a imagem e o texto */
      width: 15%;
    }

    .menu-dois {
      width: 45%;
      transition: all 0.3s ease-in-out;
    }
  
    .menu-dois a {
      font-size: 9px;
      transition: all 0.3s ease-in-out;
    }
    .sports-menu, 
    .casuais-menu,
    .snickers-menu,
    .sobre-nos-menu,
    .lojas-fisicas-menu {
      padding: 13px;
      transition: all 0.3s ease-in-out;
    }
    
}


@media (max-width: 725px) {
    .carrinho-de-produtos h1 {
      font-size: 15px;
      transition: all 0.5s ease-in-out;
    }
    .carrinho-de-produtos img {
      width: 100px;
      transition: all 0.5s ease-in-out;
    }
    .titulo-produto-carrinho {
      margin-left: 110px;
      transition: all 0.5s ease-in-out;
    }
    .titulo-produto-carrinho h1 {
      margin-bottom: 65px;
      transition: all 0.5s ease-in-out;
    }
    .informacoes-carrinho {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: 110px;
      margin-bottom: 15px;
      transition: all 0.5s ease-in-out;
    }

    .carrinho-de-produtos a {
      font-family: 'Jost', sans-serif;
      font-weight: 600;
      font-size: 13px;
      transition: all 0.5s ease-in-out;
    }

    .informacoes-carrinho h1 {
      font-weight: 600;
      font-size: 14px;
      font-family: 'Jost', sans-serif;
      transition: all 0.5s ease-in-out;
    }
    
    .informacoes-carrinho span {
      font-weight: 600;
      font-size: 14px;
      font-family: 'Jost', sans-serif;
      transition: all 0.5s ease-in-out;
    }
  
}

@media (max-width: 690px) {
    .rodape h5 {
        font-size: 5.5px;
        transition: all 0.5s ease-in-out;
    }
    .content h2 {
        font-size: 17px;
        margin-bottom: 5px;
        
      }
    .content input[type="email"] {
        padding: 10px;
        width: 60%;
        margin-bottom: 10px;
        font-size: 8px
       
      }
    .content button {  
        font-size: 8px;
      }
}

@media (max-width: 620px) {
    .content {
        top: 11%;
    }
    .content h2 {
        font-size: 15px;
        margin-bottom: 5px;
        
      }
    .content input[type="email"] {
        padding: 10px;
        width: 60%;
        margin-bottom: 10px;
        font-size: 6px;
       
      }
      .content button {
        padding: 10px ;
        width: 30%;
        font-size: 6px
      }

    
}

@media (max-width: 580px) {

}
@media (max-width: 550px) {
  .carrinho-titulos h1 {
    font-size: 12px;
    transition: all 0.5s ease-in-out;
  }
  .carrinho-de-produtos h1 {
    font-size: 12px;
    transition: all 0.5s ease-in-out;
  }
  .carrinho-de-produtos img {
    width: 75px;
    transition: all 0.5s ease-in-out;
  }
  .titulo-produto-carrinho h1 {
    margin-bottom: 45px;
    transition: all 0.5s ease-in-out;
  }
  .titulo-produto-carrinho {
    margin-left: 85px;
    transition: all 0.5s ease-in-out;
  }
  .informacoes-carrinho {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 81px;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;
  }

  .carrinho-de-produtos a {
     font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 9px;
    transition: all 0.5s ease-in-out;
  }
  
  .informacoes-carrinho h1 {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Jost', sans-serif;
    transition: all 0.5s ease-in-out;
  }
  
  .informacoes-carrinho span {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Jost', sans-serif;
    transition: all 0.5s ease-in-out;
  }



}
@media (max-width: 500px) {
    .content {
        top: 11%;
    }
    .content h2 {
        font-size: 12px;
        margin-bottom: 5px;
        
      }
    .content input[type="email"] {
        padding: 10px;
        width: 60%;
        margin-bottom: 10px;
        font-size: 4px;
      }
    .content button {
        padding: 10px ;
        width: 30%;
        font-size: 4px
    }
  
 
}
