* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Climate Crisis", cursive;
  font-family: "Itim", cursive;
}


body {
  overflow-x: hidden;
}


html {
  scroll-behavior: smooth;
}

/* Cabecalho */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f6505;
  height: 50px;
  width: 100%;
}

header .logo {
  padding: 10px;
}

header .logo img {
  margin-top: 7px;
  margin-left: 3%;
  width: 130px;
  cursor: pointer;
}

header .pesquisa {
  background: #7ea542;
  width: 50%;
  border-radius: 10px;
  margin-top: 50%;
  margin-bottom: 50%;
}

input {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

header .pesquisa input[type="text"] {
  width: 99%;
  border: none;
  padding: 7px;
  background: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: right;
}

header .menu a img {
  width: 18%;
  margin-left: 10px;

}

.menu-pai {
  width: 100%;
  border-bottom: 1px #3f6505 solid ;
}
.menu-dois {
  margin-left: 5%;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-dois a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #878787;
  font-size: 15px;
  text-decoration: none;
}

.menu-dois a:hover {
  color: #3f6505;
  transition: all 0.2s ease-in-out;
}

.menu-home,
.sports-menu, 
.casuais-menu,
.snickers-menu,
.sobre-nos-menu,
.lojas-fisicas-menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.menu-home:hover,
.sports-menu:hover, 
.casuais-menu:hover,
.snickers-menu:hover,
.sobre-nos-menu:hover,
.lojas-fisicas-menu:hover {
  background-color: #99ff0059;
  transition: all 0.2s ease-in-out;
}


/* zap */

.radius-caixa {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  z-index: 9999;
  cursor: pointer;
  overflow: hidden; /* Adicionado para esconder o conteúdo que excede o tamanho da div */
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.radius-caixa .icone {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.radius-caixa:hover {
  width: 150px;
  height: 200px;
}

.radius-caixa:hover .icone {
  display: none;
}

.radius-caixa .conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #dcf8c6;
  padding: 5px;
  box-sizing: border-box;
}

.radius-caixa .header {
  display: flex;
  align-items: center;
}

.radius-caixa .titulo {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #075e54;
  margin-left: 5px;
}

.titulo img {
  width: 13px;
}

.radius-caixa .mensagem {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.radius-caixa .texto-mensagem h1{
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  text-align: right;
}

.radius-caixa .enviar-btn {
  width: 100%;
  background-color: #12aa4a;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  padding: 9px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.radius-caixa .enviar-btn:hover {
  background-color: #048576;
  transition: all 0.3s ease-in-out;
}





/* Banner */

.carousel-wrapper{
  background-color: #2b4700;
  height: 650px;
  position:relative;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  margin-bottom: 50px;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}

.arrow{
  border: solid #3f6505;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }


@media (max-width: 500px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
  z-index: 2;
  opacity: 1;
  background:url(../img/banner1.png);
  background-size:cover;
  background-position: center;
  border-radius: 10px;
  }
.item-2{
  background:url(../img/banner2.jpg);
  background-size:cover;
  background-position: center;
  border-radius: 10px;
}
.item-3{
  background:url(../img/banner3.jpg);
  background-size:cover;
  background-position: center;
  border-radius: 10px;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }





  


/* Diferencial */

.diferencial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diferencial .btn {
  width: 100%;
  text-align: center;
  padding: 2%;
}

.diferencial .btn a {
  width: 25%;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  background-color: #3f6505;
  color: #fff;
  border: 3px solid #3f6505;
  border-radius: 10px;
  transition: all ease 0.2s;
}


.diferencial .btn a:hover {
  background-color: #2b4700;
  border: 3px solid #7ea542;
  transition: all ease 0.4s;
}

/* categorias icons */

.categoria-icons {
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
  text-align: center;
}

.categoria-icons img {
  width: 80%;
}

.categoria-icons .card img {
  cursor: pointer;
  transition: all ease 0.4s;
}

.categoria-icons .card img:hover {
  background-color: #beeb7a;
  border-radius: 50%;
  transition: all ease 0.5s;
}

.categoria-icons .card h3 {
  font-size: 40px;
  font-weight: bold;
  color: #3f6505;
  margin: 2%;
}






/* produtos  */






.container-produtos {
  margin: 5% 10%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* define 4 colunas com tamanho igual */
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}


.tenis-grid:hover {
  border: 3px solid #2b4700;
  transition: all ease 0.1s;
}

.grid-produto h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.grid-produto h3 {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}

.grid-produto h5 {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
  text-decoration: line-through;
}

.grid-produto .estrelas {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
}





/*  lancamento fotos / partes esquerda  */

.lancamento-container {
  display: flex;
  justify-content: center;
  border: 2px #3f6505 solid;
  width: 80%;
  border-radius: 0.75%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
}

.lancamento-produto {
  width: 60%;
}

.lancamento-produto-2 {
  visibility: hidden;
  display: none;
}

.lancamento-produto img {
  border-radius: 2%;
  margin: 20px;
  border: 2px #3f6505 solid;
  width: 60%;
}

/*  lancamento textos  */

.lacamento-text {
  float: right;
  width: 100%;
}

.lacamento-text h1 {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: #3f6505;
  margin: 5% 5% 5% 0;
  font-size: 30px;
}

.lacamento-text p {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #3f6505;
  font-size: 15px;
  margin: 5% 5% 5% 0;
  text-align: left;
  line-height: 1.5;

}

.lacamento-text button {
  width: 95%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #3f6505;
  font-family: Arial, Helvetica, sans-serif;
  transition: all ease 0.3s;
}

.lacamento-text button a {
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 20px;
  text-decoration: none;

}

.lacamento-text button:hover {
  background-color: #4e7a0d;
  transition: all ease 0.3s;
}




/* rodapé do input - home */

.fundo-verde-rodape {
  width: 100%;
  display: flex;
  height: auto;
  background-color: #3f6505;
}

.rodape-container {
  position: relative;
  width: 100%;
}

.background-image {
  width: 100%;
  height: auto;
}

.background-image img {
  width: 100%;
  height: 600px;
}

.content {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 100px;
}

.content h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.content input[type="email"] {
  padding: 15px;
  width: 69%;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content button {
  padding: 15px;
  width: 30%;
  background-color: #4e8100;
  color: #fff;
  border: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content button:hover {
  transition: all 0.5s ease-in-out;
  background-color: #5c9900;

}

/* dados do rodapé da home */

.dados-rodape {
  width: 100%;
  margin-top: 25px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}


.dados-rodape h1 {
  color: #fff;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-left: 2%;
}

.social {
  width: 23%;

}

.social img {
  display: flex;
  justify-content: space-between;
  width: 15%;
  display: flex;
  display: inline-block;
  padding: 1%;
}

.social a {
  text-decoration: none;
}

.bandeiras {
  width: 100%;
  
}

.bandeiras img {
  width: 100%;

}

.info {
  width: 23%;

}

.info a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 13px;
  margin-left: 2%;
}

.contatos {
  width: 23%;
}

.contatos a {
  color: #fff;
  /* Define a cor do texto como branco */
  text-decoration: none;
  /* Remove a decoração de link */
  display: flex;
  /* Torna o elemento <a> um contêiner flex */
  align-items: center;
  /* Alinha verticalmente o texto e a imagem */
  font-size: 12px;
}

.contatos a img {
  margin-right: 10px;
  /* Adiciona um espaço entre a imagem e o texto */
  width: 10%;
}

/*  fim do Rodapé da home e











inicio do rodape das outras paginas */

.rodape {
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  background-color: #2b4700;
  display: flex;
  justify-content: center;
}

.rodape h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 10px;
  color: #fff;
}

/* fim da página home 














inicio página de categorias */

.button-categorias {
  background-color: #2b4700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.link {
  padding: 15px;
  border-radius: 30px;
}

.link a {
  text-decoration: none;
  color: #fff;
}

.principal {
  flex-grow: 1;
  transition: all ease 0.5s;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal:hover {
  flex-grow: 5;
  background-color: #467500;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.secundario {
  flex-grow: 1;
  transition: all ease 0.5s;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secundario:hover {
  flex-grow: 5;
  background-color: #467500;
}

.terciario {
  flex-grow: 1;
  transition: all ease 0.5s;
  border-radius: 3px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terciario:hover {
  flex-grow: 5;
  background-color: #467500;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* fim de categorias e i


























/* fim de produtos  */










/* meus curtidos */

.meus-curtidos {
  margin: 3% 6% 3%;
}

.meus-curtidos h1 {
  font-family: 'Jost', sans-serif;
  color: #3f6505;
  font-size: 35px;
}

.caixa-verde-favoritos {
   display: flex;
  flex-direction: column;
  width: 90%;
  height: 800px;
  margin-left: 5%;
  margin-right: 5%;
  border:  3px #3f6505 solid;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 50px;
  overflow-y: auto; 

}



/* Estilizando a barra de rolagem apenas na div .caixa-verde-favoritos */
.caixa-verde-favoritos::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
}

.caixa-verde-favoritos::-webkit-scrollbar-track {
  background-color: #3f6505;
  /* Cor de fundo do track */
}

.caixa-verde-favoritos::-webkit-scrollbar-thumb {
  background-color: #69aa07;
  /* Cor do thumb */
  border-radius: 30px;
  /* Bordas arredondadas do thumb */
}

.caixa-verde-favoritos::-webkit-scrollbar-thumb:hover {
  background-color: #568f00;
  /* Cor do thumb em hover */
  transition: all 0.4s ease-in-out;
}

.caixa-verde-favoritos::-webkit-scrollbar-thumb:active {
  background-color: #4d8000;
  /* Cor do thumb ativo */
}


.excluir-todos {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

}

.excluir-todos input {
  margin-left: 1%;
}

.excluir-todos h4 {
  color: #3f6505;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-left: 2%;
}

.produtos-favoritos {
  width: 100%;

}

.produtos-favoritos input {
  margin-left: 1%;
}

.produto-favorito-um {
  display: flex;
  border-top:  1px #3f6505 solid;
  border-bottom:  1px #3f6505 solid;

}

.produto-favorito-um img {
  width: 150px;
  border-radius: 5px;

}

.produto-favorito-um a {
  width: 150px;
  border-radius: 5px;
}

.produto-favorito-dois {
  display: flex;
  border-top:  2px #3f6505 solid;
  border-bottom:  1px #3f6505 solid;

}

.produto-favorito-dois img {
  width: 150px;
  border-radius: 5px;

}

.produto-favorito-dois a {
  width: 150px;
  border-radius: 5px;
}

.produtos-favoritos h4 {
  color: #3f6505;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-left: 1%;
  font-size: 18px;
}

.nome-dos-favoritos {
  width: 100%;
}

.nome-dos-favoritos h4 {
  margin-bottom: 75px;
  margin-top: 15px;

}

.nome-dos-favoritos a {
  color: #3f6505;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 10px;
  margin-left: 1%;
}

/* fim meus favoritos */











/* sobre nos e oque somos TEXTOS */

.textos-outpolution {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 100px;
  height: auto;
}

.textos-outpolution h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #2b4700;
  font-size: 20px;
}

.textos-outpolution h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  line-height: 1.5;
}

.textos-outpolution h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #3f6505;
  font-size: 18px;
  line-height: 1.5;
}

.textos-outpolution a {
  color: black;
  font-size: 14px;
}

/* sobre nos logo */

.logo-sobre-nos-oque-somos {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  height: auto;
}

.logo-sobre-nos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b4700;
  width: 25%;
  height: 85px;
  border-radius: 30px;
}


.logo-sobre-nos-oque-somos h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #3f6505;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 1%;
}

.text-sobre-nos-oque-somos {
  padding: 20px;
  border: 2px #3f6505 solid;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 75px;
}

.text-sobre-nos-oque-somos p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  line-height: 1.5; 
}

/* fim da pagina oque somos */











/* carrinho começando pelo titulo */

.carrinho-titulo {
  width: 300px;
  padding: 8px;
  border: 2px  #3f6505 solid;
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  margin-top: 50px;
  border-radius: 5px;
  justify-content: space-between;
}

.carrinho-titulo h1 {
  color: #3f6505;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 15px;
  width: 80%;
}

.carrinho-titulo img {
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
}




/*  carrinho box, começando pelo titulo */





.carrinho-caixa {
  margin-top: 50px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 500px;
  border: 2px #3f6505 solid; 
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow-y: auto;
}

/* Estilizando a barra de rolagem apenas na div .carrinho-caixa */
.carrinho-caixa::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra de rolagem */
}

.carrinho-caixa::-webkit-scrollbar-track {
  background-color: #3f6505;
  /* Cor de fundo do track */
}

.carrinho-caixa::-webkit-scrollbar-thumb {
  background-color: #69aa07;
  /* Cor do thumb */
  border-radius: 30px;
  /* Bordas arredondadas do thumb */
}

.carrinho-caixa::-webkit-scrollbar-thumb:hover {
  background-color: #568f00;
  /* Cor do thumb em hover */
  transition: all 0.4s ease-in-out;
}

.carrinho-caixa::-webkit-scrollbar-thumb:active {
  background-color: #4d8000;
  /* Cor do thumb ativo */
}

.carrinho-titulos {
  width: 97.5%;
  margin-left: 2.5%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.titulo-produtos {
  width: 60%;
  display: flex;
  align-items: center;
}

.titulos-produtos {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.titulo-valor-unitario,
.titulo-quantidade,
.titulo-preco {
  width: 33%;
}


.carrinho-titulos h1 {
  color: #3f6505;;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 18px;
}



/*  carrinho de produtos */

.produtos-do-carrinho {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carrinho-de-produtos {
  width: 100%;
  height: auto;
}

.produto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px #3f6505 solid; 
  border-bottom: 1px #3f6505 solid; 
}

.produto-um {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px #3f6505 solid; 
  border-bottom: 1px #3f6505 solid; 
}

.carrinho-de-produtos img {
  width: 150px;
  margin: 5%;
  margin-top: 10px;
  border-radius: 5px;
}

.imagem-produto-carrinho a {
  width: 100%;
  

}

.carrinho-de-produtos img:hover {
  border: 1px #3f6505 solid;
  transition: all 0.5s ease-in-out;
}

.imagem-produto-carrinho {
  width: 10%;
  float: left;
  display: block;
}

.titulo-produto-carrinho {
  margin-left: 160px;
}

.titulo-produto-carrinho h1 {
  margin-bottom: 100px;
}

.carrinho-nome {
  width: 60%;
  float: right;
}

.carrinho-de-produtos h1 {
  margin-top: 1%;
  color: #3f6505;;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.carrinho-de-produtos a {
  margin-top: 1%;
  color: #3f6505;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 14px;
}


.informacoes-carrinho {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 163px;
}

.valor-unitario,
.quantidade,
.preco {
  width: 33%;
  text-align: center;

}

.informacoes-carrinho h1 {
  margin-top: 1%;
  color: #3f6505;;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 18px;

}

.informacoes-carrinho span {
  color: #3f6505;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Jost', sans-serif;
}





/*  fora da caixa do carrinho  */




.calcular-frete-caixa {
  margin-left: 2.5%;
  margin-top: 50px;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border: 1px #c0c0c0 solid;

}

.inserir-cep {
  width: 75%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


.inserir-cep input {
  width: 85%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #575757;
  font-size: 12px;
}

.inserir-cep input::placeholder {
  color: #c0c0c0;
  /* Altera a cor do placeholder */
  font-size: 12px;

}

.calcular-frete {
  width: 25%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f6505;
}

.calcular-frete:hover {
  background-color: #518108;
  transition: all 0.3s ease-in-out;
}

.calcular-frete a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}


.finalizar-compra-caixa {
  margin-right: 2.5%;
  width: 250px;
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.subtotal-caixa,
.frete-caixa,
.total-caixa {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.finalizar-compra-caixa h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.finalizar-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #3f6505;
}

.finalizar-compra:hover {
  background-color: #4d790b;
  transition: all 0.3s ease-in-out;
}

.finalizar-compra a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}



.voltar-home {
  margin-left: 2.5%;
  margin-top: 100px;
  border-radius: 20px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #3f6606;
  margin-bottom: 50px;
}

.voltar-home:hover {
  background-color: #4e7a0d;
  transition: all 0.3s ease-in-out;
}

.voltar-home a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

